<!DOCTYPE html>
<html>
<head>
    <title>모델 학습 시각화</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <style>
        .container { margin-top: 50px; }
        .progress { margin-bottom: 20px; height: 25px; }
        .chart-container { margin-bottom: 30px; }
    </style>
</head>
<body>
    <div class="container">
        <h2>모델 학습 진행 상황</h2>
        
        <div class="row">
            <div class="col-md-12">
                <h4>학습 진행률</h4>
                <div class="progress">
                    <div id="training-progress" class="progress-bar progress-bar-striped progress-bar-animated" 
                         role="progressbar" style="width: 0%">0%</div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 chart-container">
                <h4>손실 그래프</h4>
                <img id="loss-chart" src="" class="img-fluid">
            </div>
            <div class="col-md-6 chart-container">
                <h4>정확도 그래프</h4>
                <img id="accuracy-chart" src="" class="img-fluid">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <h4>학습 지표</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>에포크</th>
                            <th>손실</th>
                            <th>검증 손실</th>
                            <th>정확도</th>
                            <th>검증 정확도</th>
                        </tr>
                    </thead>
                    <tbody id="metrics-body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        const socket = io();
        
        socket.on('training_progress', function(data) {
            $('#training-progress').css('width', data.progress + '%').text(data.progress + '%');
        });
        
        socket.on('training_metrics', function(data) {
            $('#metrics-body').append(
                `<tr>
                    <td>${data.epoch}</td>
                    <td>${data.loss.toFixed(4)}</td>
                    <td>${data.val_loss.toFixed(4)}</td>
                    <td>${data.accuracy.toFixed(4)}</td>
                    <td>${data.val_accuracy.toFixed(4)}</td>
                </tr>`
            );
        });
        
        socket.on('loss_chart', function(data) {
            $('#loss-chart').attr('src', data.chart);
        });
        
        socket.on('accuracy_chart', function(data) {
            $('#accuracy-chart').attr('src', data.chart);
        });
    </script>
</body>
</html>
